<!-- Avila -->

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>consultas</title>
</head>
<body>
    
    {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static '/css/consulta.css' %}"/>

  <div>
    <h1>Consultas<h1>
</div>
<main>
<div class="calendario">
    <div class "mes indicado">
        <tempo datames = "2024-02">Fevereiro 2024
        </tempo>
    </div>
        <div class="dia-da-semana">
            <div>Seg</div>
            <div>Ter</div>
            <div>Qua</div>
            <div>Qui</div>
            <div>Sex</div>
            <div>Sab</div>
            <div>Dom</div>

  </div>
  <div class="grade-de-datas">
    <button>
      <tempo datames="2024-02-01">1</tempo></button>
    <button>
     <tempo datames="2024-02-02">2</tempo></button>
     <button>
     <tempo datames="2024-02-03">3</tempo></button>
    <button>
     <tempo datames="2024-02-04">4</tempo></button>
    <button>
     <tempo datames="2024-02-05">5</tempo></button>
    <button>
      <tempo datames="2024-02-06">6</tempo></button>
    <button>
      <tempo datames="2024-02-07">7</tempo></button>
    <button>
      <tempo datames="2024-02-08">8</tempo></button>
    <button>
      <tempo datames="2024-02-09">9</tempo></button>
    <button>
      <tempo datames="2024-02-10">10</tempo></button>
      <button>
        <tempo datames="2024-02-11">11</tempo></button>
    <button>
        <tempo datames="2024-02-12">12</tempo></button>
    <button>
        <tempo datames="2024-02-13">13</tempo></button>
    <button>
        <tempo datames="2024-02-14">14</tempo></button>
    <button>
        <tempo datames="2024-02-15">15</tempo></button>
    <button>
       <tempo datames="2024-02-16">16</tempo></button>
    <button>
       <tempo datames="2024-02-17">17</tempo></button>
    <button>
       <tempo datames="2024-02-18">18</tempo></button>
    <button>
       <tempo datames="2024-02-19">19</tempo></button>
    <button>
       <tempo datames="2024-02-10">20</tempo></button>
       <button>
        <tempo datames="2024-02-21">21</tempo></button>
    <button>
       <tempo datames="2024-02-22">22</tempo></button>
    <button>
       <tempo datames="2024-02-23">23</tempo></button>
    <button>
       <tempo datames="2024-02-24">24</tempo></button>
    <button>
       <tempo datames="2024-02-25">25</tempo></button>
    <button>
        <tempo datames="2024-02-26">26</tempo></button>
    <button>
        <tempo datames="2024-02-27">27</tempo></button>
    <button>
        <tempo datames="2024-02-28">28</tempo></button>
    <button>
        <tempo datames="2024-02-29">29</tempo></button>
</body>
</main>
</html>