<!-- Olinda -->

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Erro</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/erro.css' %}"/>
</head>
<body>

    <div class="btns">
        <p>Nome de usuário ou senha inválidos.</p>
        <a href="/"> <button type="button" class="btn_signup"> Página Inicial </button> </a>   
    </div>
</body>
</html>