<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static '/css/menu.css' %}"/>

    <div class="menu_principal_buttons">
        
        <button class="btn1">
        </button>
        <button class="btn2">
        </button>

        <button class="btn3">
        </button>

    </div>
</body>
</html>