<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/medicamentos.css' %}"/>
  
</head>
<body>
    <header>
        <div class="header_btn_div">
            <img src="{% static 'imgs/icone_header.png' %}">
        </div>
        <div>
            <h1 class="header_title_div">medicamentos </h1>
        </div>
    </header>

    
<div class="main_med">    
    <div class="aviso">
        <div class = "organizar">
            <span class="hora_caixa">06:00 am</span>
		    <label class="toggle">
		        <input class="toggle-checkbox" type="checkbox">
                <div class="toggle-switch"></div>
                <span class="toggle-label"></span>
	        </label>
        </div>
   
        <div class="informar">
            <span class="hora_caixa">06:00 am</span>
            <label class="toggle">
                <input class="toggle-checkbox" type="checkbox">
                <div class="toggle-switch"></div>
                <span class="toggle-label"></span>
            </label>
        </div>
        <div class="dados">
            <span class="hora_caixa">06:00 am</span>
            <label class="toggle">
                <input class="toggle-checkbox" type="checkbox">
                <div class="toggle-switch"></div>
                <span class="toggle-label"></span>
            </label>
        </div>
    </div>
</div>


</div>
</body>
</html>