body {
    background: linear-gradient(180deg, rgba(146, 252, 170, 0.40) 18.88%, rgba(102, 209, 168, 0.04) 85.99%,     rgba(98, 205, 168, 0.00) 103.65%), #3CAC96;
    background-attachment: fixed;
    border-radius: 15%;
    text-align: center;
  }

  .btns {
    text-align: center;
    justify-content: center;
    text-align: center;
   
  }
  .organize{
    display: flex;
    justify-content: center;
    text-align: center;
  
  }

  
  .btn_signup {
    border-radius: 25px;
    background: linear-gradient(94deg, rgba(182, 255, 227, 0.25) 36.11%, rgba(61, 156, 137, 0.00) 100%), #10CCA8;
    box-shadow: 0px 4px 6px 0px rgba(30, 30, 30, 0.26);
    border-radius: 25px;
    text-align: center;
    align-self: center;
    border: none;
    width: 244px;
    height: 60px;
    flex-shrink: 0;
    color: #ffffff;
    margin-top: 20px;
    font-weight: 44px;
  }
  
  .btn_signup:active {
    background: linear-gradient(94deg, rgba(182, 255, 227, 0.25) 36.11%, rgba(61, 156, 137, 0.00) 100%), #10CCA8;;
    box-shadow: 0 4px #666;
    transform: translateY(2px);
  }
  