<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Envelhecer Bem</title>

</head>
<body>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static '/css/home.css' %}"/>
  
    <div class="logo">
        <img src="{% static 'imagens/logo.jpg' %}" alt="logo">
    </div>

    <div class="btns">
        <button type="button"  class="btn_login"> Entrar </button> <br/>
        <button type="button" class="btn_signup"> Cadastrar </button>
   
    </div>

</body>
</html>